html, body
{
    background-color: #5EC4CD;
    margin: 0;
    padding: 0;
}
p
{
    font-family: 'Duru Sans', sans-serif;
    font-size: 14px;
}
#header_div
{
    background-color: #5EC4CD;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
#container
{
    background-color: #C5F0ED;
    height: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
}
#header
{
    background-color: #015C65;
    padding: 20px;

}
#header_text
{
    text-align: center;
    font-family: 'Bubbler One', sans-serif;
    font-size: 60px;
    margin: 0;
}
#header_subtitle
{
    text-align: center;
    font-family: 'Bubbler One', sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 10px;
}
.sect_div
{
    background-color: #028E9B;
    margin-top: 30px;
    text-align: center;
}
.sect_header
{
    margin: 0;
    font-family: 'Bubbler One', sans-serif;
    font-size: 40px;
}
.subsect_header
{
    margin-bottom: 0;
    font-family: 'Duru Sans', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bolder;
}
#about_header
{
    margin-left: 30px;
    margin-bottom: 0;
}
#about_sect
{
    background-color: #35C0CD;
    height: auto;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}
#description_sect
{
    background-color: #35C0CD;
    display: none;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
#hardware_header
{
    margin-left: 30px;
    margin-bottom: 0;
}
#hardware_sect
{
    background-color: #35C0CD;
    height: auto;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}
#parts_sect
{
    background-color: #35C0CD;
    display: none;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
#parts_table
{
    border: 2px solid BLACK;
    border-collapse: collapse;
    background-color: WHITE;
    width: 500px;
    font-family: 'Duru Sans', sans-serif;
    font-size: 12px;
}
.parts_table
{
    border: 1px solid black;
    border-collapse: collapse;
    width: auto;
}
#building_sect
{
    background-color: #35C0CD;
    display: none;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
#wiring_sect
{
    background-color: #35C0CD;
    display: none;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.challenges_text
{
    line-height: 2;
}
#challenges_sect
{
    background-color: #35C0CD;
    display: none;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
#software_header
{
    margin-left: 30px;
    margin-bottom: 0;
}
#software_sect
{
    background-color: #35C0CD;
    height: auto;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}
#operations_sect
{
    background-color: #35C0CD;
    display: none;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
#operations_subsect_left
{
    margin-left: 30px;
    width: 35%;
    float: left;
}
#operations_subsect_right
{
    width: 50%;
    float: left;
}
.function
{
    font-weight: bolder;
}
#algorithms_sect
{
    background-color: #35C0CD;
    display: none;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
#algorithms_subsect_left
{
    margin-left: 30px;
    width: 45%;
    float: left;
}
#algorithms_subsect_right
{
    width: 40%;
    float: left;
}
#misc_header
{
    margin-left: 30px;
    margin-bottom: 0;
}
#misc_sect
{
    background-color: #35C0CD;
    height: auto;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
#git_link
{
    color: #35C0CD;
    text-decoration: none;
}
#git_link:hover
{
    text-decoration: underline;
}
#bottom_buffer
{
    margin-bottom: 0;
    background-color: #015C65;
    padding: 20px;
    text-align: center;
}
.div_buffer
{
    clear: both;
    height: 10px;
}
#end_div
{
    padding-left: 0;
    padding-right: 0;
}
#endnote
{
    margin: 0;
}